$headSize: 60px; // 顶部操作栏的高度
$menuSize: 275px; // 菜单列表的宽度
$operatorSize: 275px; // 右侧操作栏的宽度

$ibc: #dcdfe6; // 边框颜色
$ibcl: #ebeef5; // 边框颜色：轻
$itc: #314659; // 字体颜色
$icc: rgba(0, 0, 0, 0.45); // 图标颜色
$boxShadowColor: #f0f1f2; // 阴影的颜色

$primary: #1890ff; // 主色

.visual-editor {
  position: fixed;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  overflow: hidden;
  background-color: white;

  &:before {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background-color: rgb(0, 0, 0, 0.1);
  }

  .visual-editor-menu,
  .visual-editor-head,
  .visual-editor-operator,
  .visual-editor-body {
    position: absolute;

    &.visual-editor-head {
      top: 0;
      left: $menuSize;
      right: $operatorSize;
      height: $headSize;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &.visual-editor-menu {
      top: 0;
      left: 0;
      bottom: 0;
      width: $menuSize;
      background-color: white;
      border-right: 1px solid $ibc;
      padding: 16px;
      box-sizing: border-box;
      overflow: auto;

      .visual-editor-menu-item {
        border: 1px solid $ibc;
        margin-bottom: 16px;
        position: relative;
        padding: 40px 16px 20px 16px;
        text-align: center;

        &::after {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          content: '';
          z-index: 99;
        }

        &:hover {
          border-color: $primary;
          cursor: move;
        }

        .visual-editor-menu-item-name {
          position: absolute;
          top: -1px;
          left: -1px;
          background-color: $primary;
          color: white;
          padding: 0 10px;
          font-size: 12px;
          line-height: 2em;
        }
      }
    }

    &.visual-editor-operator {
      top: 0;
      right: 0;
      bottom: 0;
      width: $operatorSize;
      background-color: white;
      border-left: 1px solid $ibc;
      padding: 10px;
      box-sizing: border-box;
    }

    &.visual-editor-body {
      top: 0;
      left: $menuSize;
      right: $operatorSize;
      bottom: 0;
      box-sizing: border-box;
      padding-top: $headSize;
      padding-bottom: 300px;
      background-color: #f6f6f6;
      overflow: auto;
      display: flex;
      justify-content: center;
    }
  }
  .visual-editor-container {
    background-color: white;
    position: relative;

    .visual-editor-block {
      position: absolute;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }
}
